<div id="headTableDiv">
		<table id="catHeadTable">
			<tr>
				<th id="catName">Name</th>
				<th id="catQty">Qty</th>
				<th id="catExp">Expiration<br />Date</th>
				<th id="catOpt">Options</th>
			</tr>
		</table>
		</div>
		<div id="contentTableDiv">
		<table id="contentTable">
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>03/01/2012</td>
				<td>
					<%= render 'layouts/fridge_display/function_buttons' %>
				</td>
			</tr>