
<div id="fridgeSelector">
		<%= form_for :fridge, :url => fridges_path do |f| %>
			<%= select("post", "fridge_id", @user.fridges.collect {|fridge| [ fridge.name, fridge.id ] }, {:prompt => 'Select a fridge'}) %>
			<%= f.submit "and view it" %>
		<% end %>
</div>