<div id="moveToFridge">
	<h3>Move Selected Items</h3>
	<select>
		<option>Move to Fridge</option>
		<% @user.fridges.each do |fridge| %>
		<option value="<%= fridge.id %>"><%= fridge.name %></option>
		<% end %>
	</select>
	<button type="submit" id="moveButton">&#8592; Move</button>
</div>