<div id="displayUser">
	<h2><%= @user.name %></h2>
	<%= image_tag 'subArrow.png' %>
	<label class="fridgeLabel" id="fridgeLabel1">Fridge Name</label>
</div>

<%= render 'layouts/fridge_display/fridge_selector' %>
