<div id="displayUser">
	<h2>Username</h2>
	<%= image_tag 'subArrow.png' %>
	<label class="fridgeLabel" id="fridgeLabel1">Fridge Name</label>
</div>

<div id="fridgeSelector">
	<select>
		<option>Select Another Fridge</option>
		<option>Fridge 1</option>
		<option>Fridge 2</option>
		<option>Fridge 3</option>
	</select>
	<button type="submit">Go</button>
</div>