<div id="userDataContainer">
	<%= render 'layouts/fridge_display/user_display', :remote => true %>
</div>

<div id="fridgeDisplayContainer">
	<div id="itemFunctionsContainer">
		<%= render 'layouts/fridge_display/add_item', :remote => true %>
		<%= render 'layouts/fridge_display/move_item', :remote => true %>
	</div>
	
	<div id="fridgeDisplay">
		<%= render 'layouts/fridge_display/display_tables', :remote => true %>
		<button>Empty Fridge</button>
	</div>
</div>
