<div id="userDataContainer">
	<div id="displayUser">
		<h2>Username</h2>
		<%= image_tag 'subArrow.png' %>
		<label class="fridgeLabel" id="fridgeLabel1">Fridge Name</label>
	</div>
	
	<div id="fridgeSelector">
	<select>
		<option>Select Another Fridge</option>
		<option>Fridge 1</option>
		<option>Fridge 2</option>
		<option>Fridge 3</option>
	</select>
	<button type="submit">Go</button>
	</div>
</div>

<div id="fridgeDisplayContainer">
	<div id="itemFunctionsContainer">
		<div id="addItem">
		<h3>Add Item</h3>
		<form>
			<label>Name: <input type="text" maxlength="16" size="15"></input></label> <br />
			<label>Quantity: <input type="text" maxlength="3" size="1"></input></label>
			<br /><br />
			(Optional) <br />
			<label>Expriation: <input type="text" size="6"></input></label> <br />
			<button type="submit" id="addItemButton">Add &#8594;</button>
		</form>
		</div>

		<div id="moveToFridge">
		<h3>Move Selected Items</h3>
		<select>
			<option>Move to Fridge</option>
			<option>Fridge 1</option>
			<option>Fridge 2</option>
			<option>Fridge 3</option>
		</select>
		<button type="submit" id="moveButton">&#8592; Move</button>
		</div>
	</div>
	<div id="fridgeDisplay">
	<label class="fridgeLabel" id="fridgeLabel2">Fridge Name</label>
		<div id="headTableDiv">
		<table id="catHeadTable">
			<tr>
				<th id="catName">Name</th>
				<th id="catQty">Qty</th>
				<th id="catExp">Expiration<br />Date</th>
				<th id="catOpt">Options</th>
			</tr>
		</table>
		</div>
		<div id="contentTableDiv">
		<table id="contentTable">
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>03/01/2012</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Oranges</td>
				<td>40</td>
				<td>11/11/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Apple Sauce</td>
				<td>15</td>
				<td>04/15/2014</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Juicy Juice</td>
				<td>1</td>
				<td>03/08/2012</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Heads of Lettuce</td>
				<td>2</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Milk <br /> 1/2 Gallon <br /> 2% Reduced Fat</td>
				<td>10</td>
				<td>11/18/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
	<tr>
				<td>Apples</td>
				<td>10</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
			<tr>
				<td>Apples</td>
				<td>10</td>
				<td>11/10/2011</td>
				<td>
					<button type="button">+1</button><button type="button">-1</button> <br />
					<button type="button">Remove</button>
				</td>
			</tr>
		</table>
		</div>
	</div>
</div>
</div>
