<%= form_for :fridge, :url => fridges_path do |f| %>
<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
  
<div class="actions" >
    <%= f.submit "Create" %>
</div>
<% end %>